$color-primary-red: #EA1B3D;
$color-primary-charcoal-gray: #373742;
$color-primary-medium-gray: #676775;
$color-primary-light-gray: #E6E6ED;

$color-secondary-light-cream: #FFF9ED;
$color-secondary-peach: #FFD0D8;
$color-secondary-desire-red: #EB4C5E;
$color-secondary-white: #FFFFFF;
$color-secondary-dark-red: #AA142D;
$color-secondary-deep-red: #7C2235;
