$grid-columns: 12;
$grid-spacing-horizontal: 8px;

$column-width: 100% / $grid-columns;

.container {
  display: flex;
  flex-wrap: wrap;

  &.fluid {
    width: 100%;
    max-width: $desktop-width;
  }

  &.fixed {
    width: $desktop-width;
    margin: 0 auto;
  }

  padding: 8px;
}

.section {
  margin-bottom: 32px;

  &:last-child {
    margin-bottom: 0;
  }
}

.paragraph {
  margin-bottom: 16px;
}

.icon {
  margin-right: 8px;
}

.col {
  box-sizing: border-box;
  padding-left: $grid-spacing-horizontal;
  padding-right: $grid-spacing-horizontal;
}

@for $i from 1 through $grid-columns {
  .col-#{$i} {
    width: $column-width * $i;
  }
}
