$font-family: 'Lexend', sans-serif;

$font-size-title: 36pt;
$font-weight-title: 300;
$line-height-title: 1.2;

$font-size-h1: 32pt;
$font-weight-h1: 300;
$line-height-h1: 1.2;

$font-size-h2: 28pt;
$font-weight-h2: 400;
$line-height-h2: 1.2;

$font-size-h3: 24pt;
$font-weight-h3: 400;
$line-height-h3: 1.2;

$font-size-h4: 20pt;
$font-weight-h4: 400;
$line-height-h4: 1.2;

$font-size-h5: 16pt;
$font-weight-h5: 400;
$line-height-h5: 1.2;

$font-size-eyebrow: 12pt;
$font-weight-eyebrow: 300;
$line-height-eyebrow: 1.2;

$font-size-body-large: 16pt;
$font-weight-body-large: 300;
$line-height-body-large: 1.5;

$font-size-body-medium: 14pt;
$font-weight-body-medium: 300;
$line-height-body-medium: 1.5;

$font-size-small-copy: 9pt;
$font-weight-small-copy: 300;
$line-height-small-copy: 1.5;

h1, .h1 {
  font-size: $font-size-h1;
  font-weight: $font-weight-h1;
  line-height: $line-height-h1;
}

h2, .h2 {
  font-size: $font-size-h2;
  font-weight: $font-weight-h2;
  line-height: $line-height-h2;
}

h3, .h3 {
  font-size: $font-size-h3;
  font-weight: $font-weight-h3;
  line-height: $line-height-h3;
}

h4, .h4 {
  font-size: $font-size-h4;
  font-weight: $font-weight-h4;
  line-height: $line-height-h4;
}

h5, .h5 {
  font-size: $font-size-h5;
  font-weight: $font-weight-h5;
  line-height: $line-height-h5;
}

.eyebrow {
  font-size: $font-size-ey
}